In [ ]:
!pip install mysql-connector

In [ ]:
#!pip install mysql-connector
#!pip install mysql-connector-python-rf
#!pip install mysql-connector-python

In [9]:
import mysql.connector as mc

In [10]:
mydb = mc.connect(host='localhost',user='root',passwd='Qwerty123')

In [11]:
mycursor = mydb.cursor()

In [14]:
mycursor.execute('create database dhanunjaya')

In [15]:
mycursor.execute('show databases')

In [16]:
for i in mycursor:
    print(i)

('check',)
('dhanunjaya',)
('employees',)
('information_schema',)
('mysql',)
('northwind',)
('performance_schema',)
('sakila',)

In [21]:
mycursor.execute('use dhanunjaya')

In [22]:
query = 'create table mysql (sno int primary key auto_increment,name varchar(255),age int(10))'

In [23]:
mycursor.execute(query)

In [31]:
insert = 'insert into mysql values(null,"dj",10)'

In [32]:
mycursor.execute(insert)

In [33]:
mydb.commit()

In [40]:
mycursor.execute('select * from mysql')

In [36]:
for i in mycursor:
    print(i)

(1, 'dj', 10)

In [39]:
mycursor.fetchall()

[(1, 'dj', 10)]

In [41]:
mycursor.fetchone()

(1, 'dj', 10)